# This configuration file is used to run the basic suite of modelE
# regression tests. It is a required argument to mainDriver.py
[USERCONFIG]
# Repository we are testing, usually a directory that contains a git repository.
repository=/discover/nobackup/modele/clones/AR5_v2_branch
# What branch. E.g master, planet, AR5_v2_branch
repobranch=AR5_v2_branch
# Filesystem where we are doing all the work. If it does not exist, it will be created.
scratchdir=/discover/nobackup/modele
# Where we keep the regression scripts. Note that scripts are part of modelE code base.
# Therefore, the scripts (and this file) are found under exec/testing directory.
scriptsdir=/discover/nobackup/modele/clones/master
# compileflags options: default, traps, debug (-O0 -g)
compflags=default
# Where to mail tests report
mailto=giss-modele-regression@lists.nasa.gov
#
#
# The following options are not commonly changed:
# Use a batch system (configured for SLURM on DISCOVER).
# If set to 'no', script (and commands therein) will run interactively.
usebatch=yes
# If we are using "modules" to load compilers then set to "yes"
# NOTE: If modules=yes then specify/use modulelist in COMPCONFIG section
# If set to 'no', scripts will use compilers available in the system.
modules=yes
# Clean the regression testing scratch space (under scratchdir)
cleanscratch=yes
# Where we keep modelE baseline restarts. Used for verification.
basedir=/discover/nobackup/modele/modelE_baseline
# Update the baseline restarts (if different)
updatebase=yes
# Run diffreport on modelE output 
diffreport=yes
# sponsor ID required by SLURM
sponsorid=s1001
# Run system (integration) tests
systemtests=yes
# Specify test type (compileOnly, regular, long)
testtype=regular
# Other options:
# sort diffreport
sortdiff=no
# If debugscript=yes then all unix commands go to stdout
debugscript=no
# Run unit tests
unittests=no
# Run mock modelE
mock=no

# This section specifies the computational environment including,
# if specified, the module lists and modelErc settings. 
[COMPCONFIG]
# What compilers we use choices: intel, gfortran, nag)
compilers=intel
# Specify version for each compiler
compiler_versions=10.1.017
# Specify names of module lists here. Note that thes names must
# correspond to the ones referenced in regTools.py
modulelist=intel_intelmpi
intel_intelmpi=comp/intel-10.1.017,mpi/impi-3.2.2.006
#
#
# modelErc settings:
# Where is the modelE data (ICs.BCs)
modeldatadir=/discover/nobackup/projects/giss/prod_input_files
# The following list names must correspond to the ones referenced
# in regTools.py.
# intel settings
intelnetcdf=/usr/local/other/netcdf/3.6.2_intel-10.1.013
intelpnetcdf=/discover/nobackup/mkelley5/pnetcdf-1.2.0
intelesmf=/discover/nobackup/projects/giss/esmf_2_2_ifort_10.1.017_intelmpi
intelmpi=intel
intelmpidir=

# Rundeck configurations
[E_AR5_V2_NINT]
compilers=intel
modes=mpi
npes=8

[E_AR5_V2_CADI]
compilers=intel
modes=mpi
npes=44

[E_AR5_V2_CAMP]
compilers=intel
modes=mpi
npes=44

