# This is a sample python configuration file used to run the basic suite of 
# modelE regression tests.  
[USERCONFIG]
# Repository we are testing, usually a directory path that points to a 
# git repository.
repository=SPECIFIFY_REPOSITORY_PATH
# What branc we are testing, e.g master, planet, AR5_v2_branch
repobranch=master
# Filesystem where we are doing all the work. If it does not exist, it will 
# be created.
scratchdir=SPECIFY_SCRATCH_DIRECTORY_PATH
# Where we keep the regression scripts (can be different than repository):
scriptsdir=SAME_AS_REPOSITORY_PATH
# compileflags options: default, traps, debug (-O0 -g)
compflags=default
# Where to mail tests report:
mailto=SPECIFY_YOUR_EMAIL_ADDRESS
#
#
# The following options are not commonly changed:
# Use a batch system (configured for SLURM on DISCOVER).
# If set to 'no', script (and commands therein) will run interactively.
usebatch=yes
# If we are using "modules" to load compilers then set to "yes"
# NOTE: If modules=yes then specify/use modulelist in COMPCONFIG section
# If set to 'no', scripts will use compilers available in the system.
modules=yes
# Clean the regression testing scratch space (under scratchdir)
cleanscratch=yes
# Where we keep modelE baseline restarts. Used for verification.
basedir=/discover/nobackup/modele/modelE_baseline
# Update the baseline restarts (if different)
updatebase=no
# Run diffreport on modelE output 
diffreport=yes
# sponsor ID required by SLURM
sponsorid=s1001
# Run system (integration) tests
systemtests=yes
# Other options:
# sort diffreport
sortdiff=no
# If debugscript=yes then all unix commands go to stdout
debugscript=no
# Run unit tests
unittests=no
# Run mock modelE
mock=no

# Rundeck configurations
# Header must use template name as stored in modelE templates directory.
[nonProduction_E4TcadC12]
# Separate each entry with a comma. Allowed options are intel and gfortran
compilers=gfortran,intel
# Separate each entry with a comma. Allowed options are serial and mpi
modes=serial,mpi
npes=1,4
# Other options: testlevel (full or compileOnly) and endtime (default is 25)
#testlevel=compileOnly
#endtime=3

[nonProduction_E_AR5_C12]
compilers=gfortran,intel
modes=serial,mpi
npes=1,4

[E1oM20]
compilers=gfortran,intel
modes=serial,mpi
npes=1,4

[SGP4TESTS]
compilers=gfortran,intel
modes=serial
npes=1

