# This is a sample python configuration file used to run the basic suite of modelE
# regression tests.  
[SYSCONFIG]
# Repository we are testing, usually a directory that contains a git repository.
repository=/discover/nobackup/modele/clones/master
# What branch. E.g master, planet, AR5_v2_branch
repobranch=master
# Filesystem where we are doing all the work. If it does not exist, it will be created.
scratchdir=/discover/nobackup/ccruz/tmp/scratch
# Where we keep the regression scripts. Note that scripts are part of modelE code base.
# Therefore, the scripts (and this file)  are found under exec/testing directory.
scriptsdir=/discover/nobackup/ccruz/devel/modelE.clones/master/exec/testing
# compileflags options: default, debug, traps
compflags=default
# Where to mail tests report
mailto=carlos.a.cruz@nasa.gov
#
#
# The following options are not commonly changed:
# Use a batch system (configured for SLURM on DISCOVER).
# If set to 'no', script (and commands therein) will run interactively.
usebatch=yes
# If we are using "modules" to load compilers then set to "yes"
# NOTE: If modules=yes then specify/use modulelist in COMPCONFIG section
# If set to 'no', scripts will use compilers available in the system.
modules=yes
# Clean the regression testing scartch space (under scratchdir)
cleanscratch=yes
# Where we keep modelE baseline restarts. Used for verification.
basedir=/discover/nobackup/modele/modelE_baseline
# Update the baseline restarts (if different)
updatebase=no
# Run diffreport on modelE output 
diffreport=yes
# sort diffreport
sortdiff=no
# If debugscript=yes then all unix commands go to stdout
debugscript=no
# sponsor ID required by SLURM
sponsorid=s1001
# Miscellaneous
systemtests=yes
unittests=no
mock=no

# This section specifies the computational environment including, 
# if specified, the module lists
[COMPCONFIG]
# What compilers we use choices: intel, gfortran, nag)
compilers=intel,gfortran
# Specify version for each compiler
compiler_versions=14.0.3.174,4.9.1
# Specify names of module lists here. Note that thes names must
# correspond to the ones referenced in regTools.py
modulelist=intel_intelmpi,gcc_openmpi
# What each modulelist entry containss:
intel_intelmpi=comp/intel-14.0.3.174,mpi/impi-4.1.3.048
gcc_openmpi=other/comp/gcc-4.9.1,other/mpi/openmpi/1.8.1-gcc-4.9.1

# modelErc settings
[LIBSCONFIG]
# Where is the modelE data (ICs.BCs)
modeldatadir=/discover/nobackup/projects/giss/prod_input_files
# The following list of _names_ must correspond to the ones referenced
# in regTools.py.
# gcc modules
gccnetcdf=/usr/local/other/netcdf/3.6.2_gcc-4.9.1
gccpnetcdf=/usr/local/other/pnetcdf/1.2.0_gcc-4.9.1_openmpi-1.8.1
gccesmf=
gccmpi=openmpi
gccmpidir=/usr/local/other/SLES11.1/openMpi/1.8.1/gcc-4.9.1
# intel settings
intelnetcdf=/usr/local/other/netcdf/3.6.2_intel-14.0.3.174
intelpnetcdf=/usr/local/other/pnetcdf/1.2.0_intel-14.0.3.174_impi-4.1.3.048
intelesmf=
intelmpi=intel
intelmpidir=

# Rundeck configurations
[EM20]
compilers=intel
modes=serial,mpi
npes=1,4

[E_Mars]
testlevel=compileOnly
compilers=gfortran,intel
modes=serial,mpi

[SGP4TESTS]
endtime=3
compilers=gfortran
modes=serial
npes=1

