# This configuration file is used to run the basic suite of modelE
# regression tests. It is a required argument to mainDriver.py
[USERCONFIG]
# Repository we are testing, usually a directory that contains a git repository.
repository=/discover/nobackup/modele/clones/planet
# What branch. E.g master, planet, AR5_v2_branch
repobranch=planet
# Filesystem where we are doing all the work. If it does not exist, it will be created.
scratchdir=/discover/nobackup/modele
# Where we keep the regression scripts. Note that scripts are part of modelE code base.
# Therefore, the scripts (and this file) are found under exec/testing directory.
scriptsdir=/discover/nobackup/modele/clones/master
# compileflags options: default, traps, debug (-O0 -g)
compflags=default
# Where to mail tests report
mailto=giss-modele-regression@lists.nasa.gov
#
#
# The following options are not commonly changed:
# Use a batch system (configured for SLURM on DISCOVER).
# If set to 'no', script (and commands therein) will run interactively.
usebatch=yes
# If we are using "modules" to load compilers then set to "yes"
# NOTE: If modules=yes then specify/use modulelist in COMPCONFIG section
# If set to 'no', scripts will use compilers available in the system.
modules=yes
# Clean the regression testing scratch space (under scratchdir)
cleanscratch=yes
# Where we keep modelE baseline restarts. Used for verification.
basedir=/discover/nobackup/modele/modelE_baseline
# Update the baseline restarts (if different)
updatebase=yes
# Run diffreport on modelE output 
diffreport=yes
# sponsor ID required by SLURM
sponsorid=s1001
# Run system (integration) tests
systemtests=yes
# Other options:
# sort diffreport
sortdiff=no
# If debugscript=yes then all unix commands go to stdout
debugscript=no
# Run unit tests
unittests=no
# Run mock modelE
mock=no

# Rundeck configurations
[EM20]
compilers=intel,gfortran
modes=serial,mpi
npes=1,4

[E1oM20]
compilers=intel,gfortran
modes=mpi,serial
npes=1,4

[E_Mars]
compilers=intel,gfortran
modes=serial,mpi
npes=1,4

