[regSettings]
# For faster runs remove serial mode
modes = serial,mpi
# MPI runs will run with NPEs specified here
nplist = 4
# verification options: restartRun, run1hr, compileOnly
verification = restartRun
# endtime is the final simulation time of a continuous run.
# Used in restartRun. A checkpoint is produced at endtime-1 hrs
endtime = 25
# Other options are release, debug
buildtype = traps
# No comparisons are made, else change to 'yes'
updatebase = no
# Set your own basedir to automatically compare your repository
# with baseline results
basedir = .
# No branch is assumed
branch = ''
#
decksdir = REPO/decks
repository = REPO
rundeck = RUNDECK
compiler = COMPILER
# Do not change these settings
standalone = yes
makesystem = makeOld
resultsdir = .
scratchdir = .


